@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #search:focus+#searchBorder {
    @apply mx-0 border-zinc-400;
  }

  .button {
    @apply px-10 py-6 text-zinc-300 hover:bg-zinc-600 active:bg-zinc-500 transition-all text-left;
  }

  .action {
    @apply p-6 text-zinc-300 hover:bg-zinc-600 active:bg-zinc-500 transition-all text-left w-fit;
  }

  .button-select {
    @apply ring ring-inset ring-cyan-600 bg-slate-700 hover:bg-slate-600;
  }

  .status-select {
    @apply bg-slate-600 border-cyan-600;
  }

  .status-normal {
    @apply bg-zinc-600 border-zinc-600;
  }

  .striped {
    background: repeating-linear-gradient(45deg,
        theme(colors.zinc.600),
        theme(colors.zinc.600) 1rem,
        theme(colors.zinc.700) 1rem,
        theme(colors.zinc.700) 2rem);
  }

  .button-select.striped {
    background: repeating-linear-gradient(45deg,
        theme(colors.slate.600),
        theme(colors.slate.600) 1rem,
        theme(colors.slate.700) 1rem,
        theme(colors.slate.700) 2rem);
  }

  .button-select.striped:nth-of-type(even) {
    background: repeating-linear-gradient(45deg,
        theme(colors.slate.700),
        theme(colors.slate.700) 1rem,
        theme(colors.slate.600) 1rem,
        theme(colors.slate.600) 2rem);
  }

  .striped:nth-of-type(even) {
    background: repeating-linear-gradient(45deg,
        theme(colors.zinc.700),
        theme(colors.zinc.700) 1rem,
        theme(colors.zinc.600) 1rem,
        theme(colors.zinc.600) 2rem);
  }

  html {
    font-family: "Space Grotesk";
  }
}

@layer base {
  @font-face {
    font-family: 'Space Grotesk';
    font-display: swap;
    src: url(/assets/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
  }
}

.pageFadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.pageFadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}